#contenedor {
    height: 600px;
    width: 600px;
    background-color: aliceblue;
    margin: 0 auto;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-sizing: border-box;
}

#rojo {
    background-color: red;
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#azul {
    background-color: blue;
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verde {
    background-color: green;
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}